# Import

In [1]:
from youtube_transcript_api import YouTubeTranscriptApi
import pandas as pd
import numpy as np
pd.options.display.max_rows = 200
pd.options.display.max_columns = 200

In [50]:
Core_Japanese_Vocabulary = pd.read_csv("JLPT_Voca_csv/Core_Japanese_Vocabulary.csv")

In [51]:
Core_Japanese_Vocabulary_N5 = pd.read_csv("JLPT_Voca_csv/Core_Japanese_Vocabulary_N5.csv")
Core_Japanese_Vocabulary_N4 = pd.read_csv("JLPT_Voca_csv/Core_Japanese_Vocabulary_N4.csv")
Core_Japanese_Vocabulary_N3 = pd.read_csv("JLPT_Voca_csv/Core_Japanese_Vocabulary_N3.csv")
Core_Japanese_Vocabulary_N2 = pd.read_csv("JLPT_Voca_csv/Core_Japanese_Vocabulary_N2.csv")
Core_Japanese_Vocabulary_N1 = pd.read_csv("JLPT_Voca_csv/Core_Japanese_Vocabulary_N1.csv")

In [52]:
Core_Japanese_Vocabulary_N5

,Expression,Meaning,Reading,Grammar,Additional_meaning,Marqueurs
0,学校,school,学校[がっこう],Noun,NaN,jlpt-n5
1,川,"river, stream",川[かわ],Noun,"River, the ... river",jlpt-n3 jlpt-n5 jlpt-n3 jlpt-n5
2,手,"hand, arm",手[て],Noun,"forepaw, foreleg; handle; hand, worker, help; ...",jlpt-n5 jlpt-n5
3,戸,door (esp. Japanese-style),戸[と],Noun,"shutter, window shutter; entrance (to a home);...",jlpt-n5 jlpt-n5
4,眼鏡,"glasses, eyeglasses, spectacles",眼鏡[めがね],Noun,"judgment, judgement, discrimination, discernme...",jlpt-n1 jlpt-n5 jlpt-n1 jlpt-n5
...,...,...,...,...,...,...
649,燐寸,match (to light fire with),燐寸[マッチ],Noun,NaN,jlpt-n5
650,字引,dictionary,字引[じびき],Noun,NaN,jlpt-n5 jlpt-n5
651,咖哩,curry,咖哩[カレー],Noun,rice and curry,jlpt-n5
652,ラジカセ,radio-cassette player,ラジカセ,Noun,NaN,jlpt-n5 jlpt-n5
653,ＰＥＴ,"polyethylene terephthalate, PET",ＰＥＴ,Noun,"positron emission tomography, PET",jlpt-n5

# Get subtitles (youtube)

JLPT_N5youtube-transcript-api doc 
https://pypi.org/project/youtube-transcript-api/#description

In [5]:
def get_yt_sub(youtube_id):
    st = YouTubeTranscriptApi.get_transcript(youtube_id, languages = ['ja'])
    res = [ sub['text'] for sub in st ] 
    df = pd.DataFrame({'phrases':res})
    df = df.replace('\n',' ', regex=True)
    
    return df

# Import csv

In [6]:
Ntwo_raw = pd.read_csv("JLPT_Voca_csv/N2.csv", sep='\t')
Nfor_raw = pd.read_csv("JLPT_Voca_csv/N4.csv", sep='\t')
Nfive_raw = pd.read_csv("JLPT_Voca_csv/N5.csv", sep='\t')

Ntwo_raw = Ntwo_raw.drop(columns = ['Type', '#'])
Nfor_raw = Nfor_raw.drop(columns = ['Type', '#'])
Nfive_raw = Nfive_raw.drop(columns = ['Type', '#'])

In [7]:
Ntwo_raw["Kana_Kanji"] = Ntwo_raw["Kanji"] 
Ntwo_raw["Kana_Kanji"] = Ntwo_raw["Kana_Kanji"].fillna(Ntwo_raw["Kana"])

Nfor_raw["Kana_Kanji"] = Nfor_raw["Kanji"] 
Nfor_raw["Kana_Kanji"] = Nfor_raw["Kana_Kanji"].fillna(Nfor_raw["Kana"])

Nfive_raw["Kana_Kanji"] = Nfive_raw["Kanji"] 
Nfive_raw["Kana_Kanji"] = Nfive_raw["Kana_Kanji"].fillna(Nfive_raw["Kana"])

In [8]:
passthree_raw = pd.read_csv("JLPT_Voca_csv/passjapanesetest.com_N3_Vocabulary.csv", encoding = "S-JIS")

In [9]:
passfor_raw = pd.read_csv("JLPT_Voca_csv/passjapanesetest.com_N4_Vocabulary-sjis.csv", encoding = "S-JIS")

In [10]:
passfive_raw = pd.read_csv("JLPT_Voca_csv/passjapanesetest.com_N5_Vocabulary.csv", encoding = "S-JIS")

In [11]:
JLPT_N5 = pd.read_csv("JLPT_Voca_csv/JLPT_N5.csv", sep='\t')

In [12]:
JLPT_N4 = pd.read_csv("JLPT_Voca_csv/JLPT_N4.csv", sep='\t')

In [13]:
JLPT_N3 = pd.read_csv("JLPT_Voca_csv/JLPT_N3.csv", sep='\t')

In [14]:
japanese_lemmas = pd.read_csv("JLPT_Voca_csv/japanese_lemmas.csv")

# Merge csv

In [15]:
NLPT5 = pd.concat([Nfive_raw["Kana_Kanji"], passfive_raw["Kanji"], JLPT_N5["Japanese"]], ignore_index = True).drop_duplicates().reset_index(drop = True)

In [16]:
NLPT4 = pd.concat([Nfor_raw["Kana_Kanji"], passfor_raw["Kanji"], JLPT_N4["Japanese"]], ignore_index = True).drop_duplicates().reset_index(drop = True)

In [17]:
NLPT3 = pd.concat([passthree_raw["Kanji"], JLPT_N3["Japanese"]], ignore_index = True).drop_duplicates().reset_index(drop = True)

In [18]:
NLPT5 = pd.DataFrame({'vocab':NLPT5})
NLPT4 = pd.DataFrame({'vocab':NLPT4})
NLPT3 = pd.DataFrame({'vocab':NLPT3})

In [19]:
NLPT3["count"] = 0
NLPT4["count"] = 0
NLPT5["count"] = 0

In [20]:
NLPT5

    vocab  count
0      ああ      0
1      会う      0
2       青      0
3      青い      0
4       赤      0
..    ...    ...
843    二月      0
844  詰らない      0
845    お肉      0
846   出ます      0
847  伯母さん      0

[848 rows x 2 columns]

# Find nbr of NLPT word by level

In [26]:
def count_words_in_text(df_words, df_subtitles, column_words):
    
    for i in range(0, len(df_words)):
        df_words["count"].loc[i] = len(df_subtitles[df_subtitles['phrases'].str.contains(df_words[column_words][i])])
        lemmas_sum = np.count_nonzero(df_words["count"])
        
    return lemmas_sum

def sum_words_in_text(df_words, df_subtitles, column_words):
    
    for i in range(0, len(df_words)):
        df_words["count"].loc[i] = len(df_subtitles[df_subtitles['phrases'].str.contains(df_words[column_words][i])])
        lemmas_sum = df_words["count"].sum()
        
    return lemmas_sum

In [27]:
def JLPT_lvl(df_subtitles):
    NLPT3["count"], NLPT4["count"], NLPT5["count"] = 0, 0, 0
    NLPT3_sum, NLPT4_sum, NLPT5_sum = 0, 0, 0
    
    NLPT5_sum = sum_words_in_text(NLPT5, df_subtitles, "vocab")  
    NLPT4_sum = sum_words_in_text(NLPT4, df_subtitles, "vocab")  
    NLPT3_sum = sum_words_in_text(NLPT3, df_subtitles, "vocab")  

    return NLPT3_sum, NLPT4_sum, NLPT5_sum

In [53]:
Core_Japanese_Vocabulary_N5["count"] = 0
Core_Japanese_Vocabulary_N4["count"] = 0
Core_Japanese_Vocabulary_N3["count"] = 0
Core_Japanese_Vocabulary_N2["count"] = 0
Core_Japanese_Vocabulary_N1["count"] = 0

In [68]:
def JLPT_lvl_Core(df_subtitles, column_words, cnt_sum = 0):
    NLPT3["count"], NLPT4["count"], NLPT5["count"] = 0, 0, 0
    NLPT3_sum, NLPT4_sum, NLPT5_sum = 0, 0, 0
    
    if cnt_sum == 0 :
        CORE_N5_sum = count_words_in_text(Core_Japanese_Vocabulary_N5, df_subtitles, "Expression")
        CORE_N4_sum = count_words_in_text(Core_Japanese_Vocabulary_N4, df_subtitles, "Expression")
        CORE_N3_sum = count_words_in_text(Core_Japanese_Vocabulary_N3, df_subtitles, "Expression")
        CORE_N2_sum = count_words_in_text(Core_Japanese_Vocabulary_N2, df_subtitles, "Expression")
        CORE_N1_sum = count_words_in_text(Core_Japanese_Vocabulary_N1, df_subtitles, "Expression")
        
    if cnt_sum == 1 :
        CORE_N5_sum = sum_words_in_text(Core_Japanese_Vocabulary_N5, df_subtitles, "Expression")/len(Core_Japanese_Vocabulary_N5)
        CORE_N4_sum = sum_words_in_text(Core_Japanese_Vocabulary_N4, df_subtitles, "Expression")/len(Core_Japanese_Vocabulary_N4)
        CORE_N3_sum = sum_words_in_text(Core_Japanese_Vocabulary_N3, df_subtitles, "Expression")/len(Core_Japanese_Vocabulary_N3)
        CORE_N2_sum = sum_words_in_text(Core_Japanese_Vocabulary_N2, df_subtitles, "Expression")/len(Core_Japanese_Vocabulary_N2)
        CORE_N1_sum = sum_words_in_text(Core_Japanese_Vocabulary_N1, df_subtitles, "Expression")/len(Core_Japanese_Vocabulary_N1)

    return CORE_N5_sum, CORE_N4_sum, CORE_N3_sum, CORE_N2_sum, CORE_N1_sum

In [28]:
JLPT_lvl(get_yt_sub("unxNWKq9aUQ"))

c:\users\happy\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
c:\users\happy\appdata\local\programs\python\python38\lib\site-packages\pandas\core\strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

(396, 221, 224)

In [29]:
JLPT_lvl(get_yt_sub("op1ld6Mrqzg"))

(285, 183, 239)

In [61]:
JLPT_lvl_Core(get_yt_sub("unxNWKq9aUQ"), "Expression")

(0.2308868501529052,
 0.1433628318584071,
 0.16573556797020483,
 0.004369538077403246,
 0.02539208364451083)

In [62]:
JLPT_lvl_Core(get_yt_sub("op1ld6Mrqzg"), "Expression")

(0.27675840978593275,
 0.17168141592920355,
 0.06269397889509622,
 0.004369538077403246,
 0.02389843166542196)

In [70]:
JLPT_lvl_Core(get_yt_sub("unxNWKq9aUQ"), "Expression")

(57, 42, 97, 7, 40)

In [71]:
JLPT_lvl_Core(get_yt_sub("op1ld6Mrqzg"), "Expression")

(43, 16, 32, 3, 11)

In [66]:
JLPT_lvl_Core(get_yt_sub("MfLTwoskGyc"), "Expression", 1)

(0.5122324159021406,
 0.2336283185840708,
 0.2675356921166977,
 0.016229712858926344,
 0.06348020911127707)

In [69]:
JLPT_lvl_Core(get_yt_sub("MfLTwoskGyc"), "Expression", 0)

(69, 51, 111, 16, 67)

In [30]:
list_removed_lemma = "の|に|は|て|を|が|だ|た|と|で|も|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z|!|:|・|「|」|！|？"
japanese_lemmas = japanese_lemmas[~japanese_lemmas.lemma.str.contains(list_removed_lemma)]

In [31]:
japanese_lemmas

        rank  frequency     lemma
8          9   16841.17        する
10        11    9604.49        ます
12        13    8189.00        ない
13        14    8140.22        いる
15        16    6766.19        ある
...      ...        ...       ...
14993  14995       2.24        摘む
14994  14996       2.24        夕べ
14995  14997       2.24        売場
14997  14999       2.24       かしこ
14998  15000       2.24  バックグラウンド

[14013 rows x 3 columns]

In [32]:
japanese_lemmas = japanese_lemmas.reset_index(drop = True)
lemmas_5 = japanese_lemmas[0:200].copy()
lemmas_4 = japanese_lemmas[200:1000].copy().reset_index(drop = True)
lemmas_3 = japanese_lemmas[1000:3000].copy().reset_index(drop = True)
lemmas_2 = japanese_lemmas[3000:15000].copy().reset_index(drop = True)

In [33]:
lemmas_3

      rank  frequency lemma
0     1155      65.64    残す
1     1156      65.61    教授
2     1157      65.52    さえ
3     1158      65.44    戦略
4     1159      65.42    営業
...    ...        ...   ...
1995  3322      19.62    田舎
1996  3323      19.62   任せる
1997  3324      19.61     鍵
1998  3325      19.60    勿論
1999  3326      19.60    指す

[2000 rows x 3 columns]

In [34]:
lemmas_5["count"] = 0
lemmas_4["count"] = 0
lemmas_3["count"] = 0
lemmas_2["count"] = 0

In [35]:
def JLPT_lvl_lemmas(df_subtitles, column_words, cnt_sum = 0):
    lemmas_5["count"], lemmas_4["count"], lemmas_3["count"], lemmas_2["count"] = 0, 0, 0, 0
    lemmas_5_sum, lemmas_4_sum, lemmas_3_sum, lemmas_2_sum = 0, 0, 0, 0
    
    if cnt_sum == 0 :
        lemmas_5_sum = count_words_in_text(lemmas_5, df_subtitles, column_words)
        lemmas_4_sum = count_words_in_text(lemmas_4, df_subtitles, column_words)
        lemmas_3_sum = count_words_in_text(lemmas_3, df_subtitles, column_words)
        lemmas_2_sum = count_words_in_text(lemmas_2, df_subtitles, column_words)
        
    if cnt_sum == 1 :
        lemmas_5_sum = sum_words_in_text(lemmas_5, df_subtitles, column_words)
        lemmas_4_sum = sum_words_in_text(lemmas_4, df_subtitles, column_words)
        lemmas_3_sum = sum_words_in_text(lemmas_3, df_subtitles, column_words)
        lemmas_2_sum = sum_words_in_text(lemmas_2, df_subtitles, column_words)

    return lemmas_5_sum, lemmas_4_sum, lemmas_3_sum, lemmas_2_sum

In [36]:
JLPT_lvl_lemmas(get_yt_sub("unxNWKq9aUQ"),"lemma", 0)

c:\users\happy\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

(80, 132, 120, 181)

In [37]:
JLPT_lvl_lemmas(get_yt_sub("unxNWKq9aUQ"),"lemma", 1)

(617, 574, 413, 355)

In [38]:
JLPT_lvl_lemmas(get_yt_sub("op1ld6Mrqzg"),"lemma", 0)

(45, 49, 64, 121)

In [39]:
JLPT_lvl_lemmas(get_yt_sub("op1ld6Mrqzg"),"lemma", 1)

(630, 636, 593, 469)