# Import

In [1]:
from youtube_transcript_api import YouTubeTranscriptApi
import pandas as pd
import numpy as np
pd.options.display.max_rows = 200
pd.options.display.max_columns = 200

# Get subtitles (youtube)

JLPT_N5youtube-transcript-api doc 
https://pypi.org/project/youtube-transcript-api/#description

In [2]:
def get_yt_sub(youtube_id):
    st = YouTubeTranscriptApi.get_transcript(youtube_id, languages = ['ja'])
    res = [ sub['text'] for sub in st ] 
    df = pd.DataFrame({'phrases':res})
    df = df.replace('\n',' ', regex=True)
    
    return df

# Import csv

In [3]:
Core_Japanese_Vocabulary_N5 = pd.read_csv("JLPT_Voca_csv/Core_Japanese_Vocabulary_N5.csv", usecols = ['Expression'])
Core_Japanese_Vocabulary_N4 = pd.read_csv("JLPT_Voca_csv/Core_Japanese_Vocabulary_N4.csv")
Core_Japanese_Vocabulary_N3 = pd.read_csv("JLPT_Voca_csv/Core_Japanese_Vocabulary_N3.csv")
Core_Japanese_Vocabulary_N2 = pd.read_csv("JLPT_Voca_csv/Core_Japanese_Vocabulary_N2.csv")
Core_Japanese_Vocabulary_N1 = pd.read_csv("JLPT_Voca_csv/Core_Japanese_Vocabulary_N1.csv")

In [4]:
Core_Japanese_Vocabulary_N5 = pd.read_csv("JLPT_Voca_csv/Core_Japanese_Vocabulary_N5.csv")

In [5]:
Ntwo_raw = pd.read_csv("JLPT_Voca_csv/N2.csv", sep='\t')
Nfor_raw = pd.read_csv("JLPT_Voca_csv/N4.csv", sep='\t')
Nfive_raw = pd.read_csv("JLPT_Voca_csv/N5.csv", sep='\t')

Ntwo_raw = Ntwo_raw.drop(columns = ['Type', '#'])
Nfor_raw = Nfor_raw.drop(columns = ['Type', '#'])
Nfive_raw = Nfive_raw.drop(columns = ['Type', '#'])

In [6]:
Ntwo_raw["Kana_Kanji"] = Ntwo_raw["Kanji"] 
Ntwo_raw["Kana_Kanji"] = Ntwo_raw["Kana_Kanji"].fillna(Ntwo_raw["Kana"])

Nfor_raw["Kana_Kanji"] = Nfor_raw["Kanji"] 
Nfor_raw["Kana_Kanji"] = Nfor_raw["Kana_Kanji"].fillna(Nfor_raw["Kana"])

Nfive_raw["Kana_Kanji"] = Nfive_raw["Kanji"] 
Nfive_raw["Kana_Kanji"] = Nfive_raw["Kana_Kanji"].fillna(Nfive_raw["Kana"])

In [7]:
passthree_raw = pd.read_csv("JLPT_Voca_csv/passjapanesetest.com_N3_Vocabulary.csv", encoding = "S-JIS")

In [8]:
passfor_raw = pd.read_csv("JLPT_Voca_csv/passjapanesetest.com_N4_Vocabulary-sjis.csv", encoding = "S-JIS")

In [9]:
passfive_raw = pd.read_csv("JLPT_Voca_csv/passjapanesetest.com_N5_Vocabulary.csv", encoding = "S-JIS")

In [10]:
JLPT_N5 = pd.read_csv("JLPT_Voca_csv/JLPT_N5.csv", sep='\t')

In [11]:
JLPT_N4 = pd.read_csv("JLPT_Voca_csv/JLPT_N4.csv", sep='\t')

In [12]:
JLPT_N3 = pd.read_csv("JLPT_Voca_csv/JLPT_N3.csv", sep='\t')

In [13]:
japanese_lemmas = pd.read_csv("JLPT_Voca_csv/japanese_lemmas.csv")

# Merge csv

In [14]:
NLPT5 = pd.concat([Nfive_raw["Kana_Kanji"], passfive_raw["Kanji"], JLPT_N5["Japanese"]], ignore_index = True).drop_duplicates().reset_index(drop = True)

In [15]:
NLPT4 = pd.concat([Nfor_raw["Kana_Kanji"], passfor_raw["Kanji"], JLPT_N4["Japanese"]], ignore_index = True).drop_duplicates().reset_index(drop = True)

In [16]:
NLPT3 = pd.concat([passthree_raw["Kanji"], JLPT_N3["Japanese"]], ignore_index = True).drop_duplicates().reset_index(drop = True)

In [17]:
NLPT5 = pd.DataFrame({'vocab':NLPT5})
NLPT4 = pd.DataFrame({'vocab':NLPT4})
NLPT3 = pd.DataFrame({'vocab':NLPT3})

In [18]:
NLPT3["count"] = 0
NLPT4["count"] = 0
NLPT5["count"] = 0

In [19]:
NLPT5

    vocab  count
0      ああ      0
1      会う      0
2       青      0
3      青い      0
4       赤      0
..    ...    ...
843    二月      0
844  詰らない      0
845    お肉      0
846   出ます      0
847  伯母さん      0

[848 rows x 2 columns]

# Find nbr of NLPT word by level

In [20]:
def count_words_in_text(df_words, df_subtitles, column_words):
    
    for i in range(0, len(df_words)):
        df_words["count"].loc[i] = len(df_subtitles[df_subtitles['phrases'].str.contains(df_words[column_words][i])])
        lemmas_sum = np.count_nonzero(df_words["count"])
        
    return lemmas_sum

def sum_words_in_text(df_words, df_subtitles, column_words):
    
    for i in range(0, len(df_words)):
        df_words["count"].loc[i] = len(df_subtitles[df_subtitles['phrases'].str.contains(df_words[column_words][i])])
        lemmas_sum = df_words["count"].sum()
        
    return lemmas_sum

In [21]:
def JLPT_lvl(df_subtitles):
    NLPT3["count"], NLPT4["count"], NLPT5["count"] = 0, 0, 0
    NLPT3_sum, NLPT4_sum, NLPT5_sum = 0, 0, 0
    
    NLPT5_sum = sum_words_in_text(NLPT5, df_subtitles, "vocab")  
    NLPT4_sum = sum_words_in_text(NLPT4, df_subtitles, "vocab")  
    NLPT3_sum = sum_words_in_text(NLPT3, df_subtitles, "vocab")  

    return NLPT3_sum, NLPT4_sum, NLPT5_sum

In [22]:
Core_Japanese_Vocabulary_N5["count"] = 0
Core_Japanese_Vocabulary_N4["count"] = 0
Core_Japanese_Vocabulary_N3["count"] = 0
Core_Japanese_Vocabulary_N2["count"] = 0
Core_Japanese_Vocabulary_N1["count"] = 0

In [23]:
def JLPT_lvl_Core(df_subtitles, column_words, cnt_sum = 0):
    NLPT3["count"], NLPT4["count"], NLPT5["count"] = 0, 0, 0
    NLPT3_sum, NLPT4_sum, NLPT5_sum = 0, 0, 0
    
    if cnt_sum == 0 :
        print("Count")
        CORE_N5_sum = count_words_in_text(Core_Japanese_Vocabulary_N5, df_subtitles, "Expression")/len(Core_Japanese_Vocabulary_N5)
        CORE_N4_sum = count_words_in_text(Core_Japanese_Vocabulary_N4, df_subtitles, "Expression")/len(Core_Japanese_Vocabulary_N4)
        CORE_N3_sum = count_words_in_text(Core_Japanese_Vocabulary_N3, df_subtitles, "Expression")/len(Core_Japanese_Vocabulary_N3)
        CORE_N2_sum = count_words_in_text(Core_Japanese_Vocabulary_N2, df_subtitles, "Expression")/len(Core_Japanese_Vocabulary_N2)
        CORE_N1_sum = count_words_in_text(Core_Japanese_Vocabulary_N1, df_subtitles, "Expression")/len(Core_Japanese_Vocabulary_N1)
        
    if cnt_sum == 1 :
        print("Sum")
        CORE_N5_sum = sum_words_in_text(Core_Japanese_Vocabulary_N5, df_subtitles, "Expression")
        CORE_N4_sum = sum_words_in_text(Core_Japanese_Vocabulary_N4, df_subtitles, "Expression")
        CORE_N3_sum = sum_words_in_text(Core_Japanese_Vocabulary_N3, df_subtitles, "Expression")
        CORE_N2_sum = sum_words_in_text(Core_Japanese_Vocabulary_N2, df_subtitles, "Expression")
        CORE_N1_sum = sum_words_in_text(Core_Japanese_Vocabulary_N1, df_subtitles, "Expression")
        
    return CORE_N5_sum, CORE_N4_sum, CORE_N3_sum, CORE_N2_sum, CORE_N1_sum

In [24]:
JLPT_lvl(get_yt_sub("unxNWKq9aUQ"))

c:\users\happy\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
c:\users\happy\appdata\local\programs\python\python38\lib\site-packages\pandas\core\strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

(396, 221, 224)

In [25]:
JLPT_lvl(get_yt_sub("op1ld6Mrqzg"))

(285, 183, 239)

In [26]:
JLPT_lvl_Core(get_yt_sub("unxNWKq9aUQ"), "Expression")

Count

(0.0871559633027523,
 0.0743362831858407,
 0.06021104903786468,
 0.004369538077403246,
 0.014936519790888723)

In [27]:
JLPT_lvl_Core(get_yt_sub("op1ld6Mrqzg"), "Expression")

Count

(0.06574923547400612,
 0.02831858407079646,
 0.019863438857852266,
 0.0018726591760299626,
 0.004107542942494399)

In [28]:
JLPT_lvl_Core(get_yt_sub("unxNWKq9aUQ"), "Expression")

Count

(0.0871559633027523,
 0.0743362831858407,
 0.06021104903786468,
 0.004369538077403246,
 0.014936519790888723)

In [29]:
JLPT_lvl_Core(get_yt_sub("op1ld6Mrqzg"), "Expression")

Count

(0.06574923547400612,
 0.02831858407079646,
 0.019863438857852266,
 0.0018726591760299626,
 0.004107542942494399)

In [30]:
JLPT_lvl_Core(get_yt_sub("pKXDZgvHW78"), "Expression", 1)

Sum

(455, 245, 373, 33, 132)

In [31]:
JLPT_lvl_Core(get_yt_sub("pKXDZgvHW78"), "Expression", 0)

Count

(0.2018348623853211,
 0.13097345132743363,
 0.07572936064556177,
 0.01373283395755306,
 0.02128454070201643)

In [32]:
list_removed_lemma = "の|に|は|て|を|が|だ|た|と|で|も|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z|!|:|・|「|」|！|？"
japanese_lemmas = japanese_lemmas[~japanese_lemmas.lemma.str.contains(list_removed_lemma)]

In [33]:
japanese_lemmas

        rank  frequency     lemma
8          9   16841.17        する
10        11    9604.49        ます
12        13    8189.00        ない
13        14    8140.22        いる
15        16    6766.19        ある
...      ...        ...       ...
14993  14995       2.24        摘む
14994  14996       2.24        夕べ
14995  14997       2.24        売場
14997  14999       2.24       かしこ
14998  15000       2.24  バックグラウンド

[14013 rows x 3 columns]

In [34]:
japanese_lemmas = japanese_lemmas.reset_index(drop = True)
lemmas_5 = japanese_lemmas[0:200].copy()
lemmas_4 = japanese_lemmas[200:1000].copy().reset_index(drop = True)
lemmas_3 = japanese_lemmas[1000:3000].copy().reset_index(drop = True)
lemmas_2 = japanese_lemmas[3000:15000].copy().reset_index(drop = True)

In [35]:
lemmas_3

      rank  frequency lemma
0     1155      65.64    残す
1     1156      65.61    教授
2     1157      65.52    さえ
3     1158      65.44    戦略
4     1159      65.42    営業
...    ...        ...   ...
1995  3322      19.62    田舎
1996  3323      19.62   任せる
1997  3324      19.61     鍵
1998  3325      19.60    勿論
1999  3326      19.60    指す

[2000 rows x 3 columns]

In [36]:
lemmas_5["count"] = 0
lemmas_4["count"] = 0
lemmas_3["count"] = 0
lemmas_2["count"] = 0

In [37]:
def JLPT_lvl_lemmas(df_subtitles, column_words, cnt_sum = 0):
    lemmas_5["count"], lemmas_4["count"], lemmas_3["count"], lemmas_2["count"] = 0, 0, 0, 0
    lemmas_5_sum, lemmas_4_sum, lemmas_3_sum, lemmas_2_sum = 0, 0, 0, 0
    
    if cnt_sum == 0 :
        lemmas_5_sum = count_words_in_text(lemmas_5, df_subtitles, column_words)
        lemmas_4_sum = count_words_in_text(lemmas_4, df_subtitles, column_words)
        lemmas_3_sum = count_words_in_text(lemmas_3, df_subtitles, column_words)
        lemmas_2_sum = count_words_in_text(lemmas_2, df_subtitles, column_words)
        
    if cnt_sum == 1 :
        lemmas_5_sum = sum_words_in_text(lemmas_5, df_subtitles, column_words)
        lemmas_4_sum = sum_words_in_text(lemmas_4, df_subtitles, column_words)
        lemmas_3_sum = sum_words_in_text(lemmas_3, df_subtitles, column_words)
        lemmas_2_sum = sum_words_in_text(lemmas_2, df_subtitles, column_words)

    return lemmas_5_sum, lemmas_4_sum, lemmas_3_sum, lemmas_2_sum

In [38]:
JLPT_lvl_lemmas(get_yt_sub("unxNWKq9aUQ"),"lemma", 0)

c:\users\happy\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

(80, 132, 120, 181)

In [39]:
JLPT_lvl_lemmas(get_yt_sub("unxNWKq9aUQ"),"lemma", 1)

(617, 574, 413, 355)

In [40]:
JLPT_lvl_lemmas(get_yt_sub("op1ld6Mrqzg"),"lemma", 0)

(45, 49, 64, 121)

In [41]:
JLPT_lvl_lemmas(get_yt_sub("op1ld6Mrqzg"),"lemma", 1)

(630, 636, 593, 469)

In [42]:
Core_Japanese_Vocabulary_N5.sort_values("count", ascending = False)

,Expression,Meaning,Reading,Grammar,Additional_meaning,Marqueurs,count
46,夏,summer,夏[なつ],"Adverbial noun, Temporal noun",NaN,jlpt-n5 jlpt-n5,26
382,好き,"liked, well-liked, favourite, favorite",好[す]き,"Na-adjective, Noun","in love (with), loved, romantically interested...",jlpt-n5 jlpt-n5,23
374,人,"man, person",人[ひと],Noun,"human being, mankind, people; human (Homo sapi...",jlpt-n5 jlpt-n5,22
379,本,"book, volume, script",本[ほん],Noun,"this, present; main, head; real, regular; coun...",jlpt-n5 jlpt-n5,20
519,でも,"but, however, though, nevertheless, still, yet...",でも,Conjunction,"even; however, no matter how, even if, even th...",jlpt-n3 jlpt-n5 jlpt-n3 jlpt-n5,13
...,...,...,...,...,...,...,...
244,兄,"elder brother, older brother",兄[あに],Noun,NaN,jlpt-n5,0
243,有名,famous,有名[ゆうめい],Na-adjective,fame,jlpt-n5 jlpt-n5,0
242,夕べ,evening,夕[ゆう]べ,"Adverbial noun, Temporal noun","last night, yesterday evening",jlpt-n3 jlpt-n5 jlpt-n3 jlpt-n5,0
241,質問,"question, inquiry, enquiry",質問[しつもん],"Noun, Suru verb, No-adjective",NaN,jlpt-n5 jlpt-n5,0
653,ＰＥＴ,"polyethylene terephthalate, PET",ＰＥＴ,Noun,"positron emission tomography, PET",jlpt-n5,0

In [43]:
Subs = "皆さん、こんにちは、日本語の先生のりこです。今日も楽しく日本語の勉強してますか。今日は、中級の教科書について話します。上級へのとびら、上級へのとびらという教科書について知っていますか。私の生徒さんの中でも、初級を終わって、中級、そして、中級から上級へのステップアップとして、この上級へのとびらを使っている生徒さんがたくさんいます。私は個人的にこの教科書が好きです。まず、読み物、読み物のコンテンツがとても充実していると思います。日本のいろいろな文化について書いてありますが、本当にコンテンツが詳しく書いてあります。読み応えがあります。でも、初級の教科書を終わったばかりの生徒さんにとっては、ものすごく難しく感じるかもしれません。なぜならそのコンテンツは長いし、難しい言葉、新しい言葉がたくさん出てくるからです。でも、読むことが好き、日本の文化を知りたい、もっと新しい言葉、漢字を覚えたいという生徒さんには、とてもお勧めができます。単語のリストや文法も詳しいと思います。そこで、今回から、少しずつ上級へのとびらに出てくるトピックや言葉を使って、色々話してみたいと思います。今日は第一課ですね。上級へのとびらの第一課に出てくる、あなたの国または出身地の名所と名物について話しましょう、書きましょう、ということについて話します。あなたの国、私の場合、日本です。出身地、私の場合、岡山県の倉敷です。その名所と名物。わかりますか。名所名物。名所は、名前の「名」と場所の「所」で名所。これは、その土地の有名な所、よく知られているところ、たくさんの観光客が行くところ。または最近できた話題のスポットかもしれません。名物は、名前の「名」、そして、「物」の「もの」ですね。名物。これはその土地で有名なもの、食べ物かもしれないし、食べ物じゃない時もあると思います。それが名物、その土地のもの。皆さんの出身地の名所と名物は何ですか。それについて是非考えてみて、文章で書いてみたり、話したりしてみてください。日本語で書いてみましょう。私の場合、倉敷市について話します。倉敷市の名所は倉敷市の駅の近くにある美術館、大原美術館です。この大原美術館は、倉敷の美観地区の中にあります。小さい美術館なんですが、とても有名なんです。どうしてかというと、ロダンとかピカソとかモネとか、実はすごく有名な人の作品がたくさんあるんです。こんなところにこんな絵があるの、とびっくりするような素晴らしいコレクションです。もし岡山県の倉敷市に来る機会があれば、必ず大原美術館に行ってみてください。私は子供の時からよく行っていました。小学校での遠足、おかあさんといっしょに行ったり、また大人になって友達と行ったり、何回も言ったことがあります。行くたびに何か新しい発見、勉強ができる素晴らしい美術館だと思います。ということで倉敷市の名所は大原美術館。私にとっては大原美術館です。じゃあ、倉敷の名物。私なら、ぶっかけうどんと答えます。これも倉敷市の駅の近くにレストラン、ま、うどん屋さんがあって、その名前が倉敷ぶっかけうどんと言います。今ではもうとても有名で成功して、倉敷のどこにでもあります。チェーンになりました。でも味は変わってないです。とても美味しいで す。うどんがすきなら、おすすめです。私は倉敷市に戻ると、必ず絶対にこのうどんを食べに行きます。倉敷の名物はぶっかけうどんです。じゃあ、皆さんの出身地の名所と名物を教えてください。今日のトピックは、上級へのとびら第一課から、名所と名物について取り上げました。このシリーズまた続けます。上級へのとびらの中に出てくる、コンテンツや単語を使って話していきたいと思います。じゃあ、皆さんまたね"

In [44]:
import fugashi

# This is our sample text.
# "Fugashi" is a Japanese snack primarily made of gluten.
text = "今日も楽しく日本語の勉強してますか"

# The Tagger object holds state about the dictionary. 
tagger = fugashi.Tagger()
words = [word.surface for word in tagger(text)]
print(*words)
# => 麩 菓子 は 、 麩 を 主材 料 と し た 日本 の 菓子 。

今日 も 楽しく 日本 語 の 勉強 し て ます か

In [45]:
import fugashi
tagger = fugashi.Tagger()
text = "今日も楽しく日本語の勉強してますか。"

print("input:", text)
for word in tagger(text):
    # feature is a named tuple holding all the Unidic info
    print(word.surface, word.feature.lemma, sep="\t")

input: 今日も楽しく日本語の勉強してますか。
今日	今日
も	も
楽しく	楽しい
日本	日本
語	語
の	の
勉強	勉強
し	為る
て	てる
ます	ます
か	か
。	。

In [46]:
tagger("してます")[0].feature.lemma

'為る'

In [47]:
text = "麩を用いた菓子は江戸時代からすでに存在していた。"

print("input:", text)
for word in tagger(text):
    # feature is a named tuple holding all the Unidic info
    print(word.surface, word.feature.lemma, sep="\t")

input: 麩を用いた菓子は江戸時代からすでに存在していた。
麩	麩
を	を
用い	用いる
た	た
菓子	菓子
は	は
江戸	エド
時代	時代
から	から
すでに	既に
存在	存在
し	為る
て	て
い	居る
た	た
。	。

In [48]:
def count_words_in_text_pod(df_words, df_subtitles, column_words):

    df_words["count"].loc[i] = len(df_subtitles[df_subtitles['phrases'].str.contains(df_words[column_words][i])])
    lemmas_sum = np.count_nonzero(df_words["count"])
        
    return lemmas_sum

In [49]:
def JLPT_lvl_pod(df_subtitles, column_words, cnt_sum = 0):
    NLPT3["count"], NLPT4["count"], NLPT5["count"] = 0, 0, 0
    NLPT3_sum, NLPT4_sum, NLPT5_sum = 0, 0, 0
    
    if cnt_sum == 0 :
        print("Count")
        CORE_N5_sum = count_words_in_text(Core_Japanese_Vocabulary_N5, df_subtitles, "Expression")/len(Core_Japanese_Vocabulary_N5)
        CORE_N4_sum = count_words_in_text(Core_Japanese_Vocabulary_N4, df_subtitles, "Expression")/len(Core_Japanese_Vocabulary_N4)
        CORE_N3_sum = count_words_in_text(Core_Japanese_Vocabulary_N3, df_subtitles, "Expression")/len(Core_Japanese_Vocabulary_N3)
        CORE_N2_sum = count_words_in_text(Core_Japanese_Vocabulary_N2, df_subtitles, "Expression")/len(Core_Japanese_Vocabulary_N2)
        CORE_N1_sum = count_words_in_text(Core_Japanese_Vocabulary_N1, df_subtitles, "Expression")/len(Core_Japanese_Vocabulary_N1)
        
    if cnt_sum == 1 :
        print("Sum")
        CORE_N5_sum = sum_words_in_text(Core_Japanese_Vocabulary_N5, df_subtitles, "Expression")
        CORE_N4_sum = sum_words_in_text(Core_Japanese_Vocabulary_N4, df_subtitles, "Expression")
        CORE_N3_sum = sum_words_in_text(Core_Japanese_Vocabulary_N3, df_subtitles, "Expression")
        CORE_N2_sum = sum_words_in_text(Core_Japanese_Vocabulary_N2, df_subtitles, "Expression")
        CORE_N1_sum = sum_words_in_text(Core_Japanese_Vocabulary_N1, df_subtitles, "Expression")
        
    return CORE_N5_sum, CORE_N4_sum, CORE_N3_sum, CORE_N2_sum, CORE_N1_sum

In [50]:
if "皆さん" in Subs: 
   print('success')

success

In [51]:
len(df_subtitles[df_subtitles['phrases'].str.contains(df_words[column_words][i])])

NameError: name 'df_subtitles' is not defined

In [ ]:
JLPT_lvl_Core(Subs, "Expression", 0)